/* Define the keyframes for the flip animation */
@keyframes flip {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
  /* Apply the flip animation */
  .flip {
    animation: flip 5s infinite;
  }

  .backgroundImage {
    background-image: url(./assets/images/bg_sample.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .backgroundColor {
    background-image: linear-gradient(to right, #0d1935cf, #000000b7, #00000049, #000000b7, #000000cf);
  }

  .scrollBarHidden::-webkit-scrollbar {
    display: none;
  }

  .clip-v-shape {
    position: relative;
    padding: 10px 20px;
    background-color: #f3f3f3; /* Your light color */
    color: #FF5626; /* Your primary color */
    clip-path: polygon(0 0, 10% 50%, 0 100%, 100% 100%, 90% 50%, 100% 0);
  }